*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  border: 0 solid;
  font-family: inherit;
}

img {
  max-width: 100%;
}

:root {
  --black-100: #17181a;
  --black-80: #424242;
  --black-60: #555759;
  --black-50: #626a6e;
  --black-30: #b1b4b6;
  --black-20: #e1e3e5;
  --font-plain: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-special: "Times New Roman", Times, serif;
  --font-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ratio: 1.4;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --measure: 56ch;
  line-height: var(--ratio);
  font-size: calc(1rem + 0.8vw);
  font-family: var(--font-plain);
  color: var(--black-100);
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

.mu-p {
  margin-bottom: var(--s1);
}
.mu-post-date {
  font-size: var(--s-1);
  color: var(--black-50);
}

li ul {
  margin-top: var(--s-3);
}

strong {
  font-weight: 600;
}

article {
  max-width: var(--measure);
  margin: 0 auto;
  padding: var(--s-1);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

[role="separator"] {
  margin-bottom: var(--s1);
  border-bottom: 1px solid #dfe2e5;
}

details summary {
  cursor: pointer;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--black-80);
  font-weight: 600;
  line-height: 1.25;
}

h1.mu-headline {
  margin-top: var(--s-1);
  font-size: clamp(2rem, 8vw, 2rem);
  font-family: Arial;
}
h1,
h1.mu-p {
  font-size: clamp(1.5rem, 5.5vw, 1.7rem);
  font-family: var(--font-plain);
  line-height: 1.15;
  padding-top: var(--s1);
  margin-bottom: var(--s-1);
}

h2,
h2.mu-p {
  font-size: clamp(1.3rem, 4vw, 1.5rem);
  margin-top: var(--s2);
  margin-bottom: var(--s-1);
}

h3 {
  font-size: var(--s2);
  margin-top: var(--s2);
  margin-bottom: var(--s-1);
}

h4 {
  font-size: var(--s1);
  margin-top: var(--s2);
  margin-bottom: var(--s-1);
}

h5 {
  font-size: var(--s1);
  margin-top: var(--s3);
  margin-bottom: var(--s-1);
}

h6 {
  font-size: 12px;
}

dd {
  margin-left: 0;
}

code,
kbd,
pre {
  font-family: var(--font-code);
  font-size: 82%;
}

code,
pre {
  padding: 0.2em 0.4em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

li > * {
  margin-top: 16px;
}

li + li {
  margin-top: 0.25em;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

pre[class*="language-"] {
  margin: 1em 0 !important;
  font-size: 0.8em !important;
}

aside {
  padding: 1em;
}

figure {
  padding: 16px 0;
}
figcaption {
  color: grey;
}
