*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  border: 0 solid;
  font-family: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #1c2334;
  --color-dark-grey: #2c4252;
  --color-mid-grey: #818e98;
  --color-grey: #cdd2d6;
  --color-light-grey: #e6ebf0;
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --ratio: 1.4;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --measure: 60ch;
  --line-height: 1.5;

  line-height: var(--line-height);
  font-size: calc(1.25rem + 0.3vw);
  font-family: var(--font-sans);
  color: var(--color-black);
}

/* https://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/ */
@media screen and (min-width: 24.15em) {
  :root {
    --line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
  }
}

@media (min-width: 40.25em) {
  :root {
    --line-height: 1.5;
  }
}

@media (prefers-reduced-motion) {
  body {
    scroll-behavior: auto;
  }
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  word-wrap: break-word;
}

.mu-section {
  --flow-space: var(--s1);
}

.mu-section > * {
  margin-top: var(--flow-space, 1.25rem);
}

.mu-section > * + * {
  margin-top: var(--flow-space, 1.25rem);
}

.mu-post-date {
  font-size: var(--s-1);
  color: var(--color-mid-grey);
}

.mu-link {
  --flow-space: var(--s-3);
}
.mu-link a {
  text-decoration: underline;
  font-weight: 600;
}

li ul {
  margin-top: var(--s-3);
}

strong {
  font-weight: 600;
}

article {
  max-width: var(--measure);
  margin: 0 auto;
  padding: var(--s-1) var(--s-1) var(--s4);
}

a {
  text-decoration: none;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: underline;
}

[role="separator"] {
  margin-bottom: var(--s2);
  margin-top: var(--s2);
  height: 2px;
  background-color: var(--color-light-grey);
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

h1,
h2,
h3,
h4 {
  line-height: 1.15;
}

h1,
h2,
h3,
h4 {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 2vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1.mu-headline {
  margin-top: var(--s1);
  --fluid-type-min: 1.7rem;
  --fluid-type-max: 2rem;
  --fluid-type-target: 3vw;
  font-family: Arial;
}

h1 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 1.7rem;
  --fluid-type-target: 2vw;
}

h2 {
  --fluid-type-min: 1.2rem;
  --fluid-type-max: 1.4rem;
  --fluid-type-target: 0.5vw;
}

h3 {
  --fluid-type-min: 1.1rem;
  --fluid-type-max: 1.3rem;
}

h1 {
  --flow-space: var(--s4);
}

h1 + h2 {
  --flow-space: var(--s1);
}

h2 {
  --flow-space: var(--s3);
}

h1 + *,
h2 + * {
  --flow-space: var(--s-1);
}

p + ol,
p + ul {
  --flow-space: var(--s-1);
}

h3 {
  margin-top: var(--s2);
  margin-bottom: var(--s-1);
}

h4 {
  margin-top: var(--s2);
  margin-bottom: var(--s-1);
}

code,
kbd,
pre {
  font-family: var(--font-mono);
  font-size: var(--s-1);
}

/* code {
  padding: 0.15rem 0.25rem;
  background-color: var(--color-light-grey);
  border-radius: 0.3rem;
  letter-spacing: 0.03ch;
} */

blockquote {
  padding: 0 1rem;
  color: var(--color-mid-grey);
  border-left: 0.24rem solid var(--color-dark-grey);
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

li > * {
  margin-top: var(--s1);
}

li + li {
  margin-top: 0.25em;
}

pre {
  background-color: var(--color-black);
  /* padding: var(--s-1);
  margin: var(--s-1) 0;
  font-size: 0.8em;
  border-radius: 0.3em;
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: auto;
  max-height: 35rem; */
}

pre > * + * {
  display: block;
  margin-top: var(--s-1);
}

span[data_microlight_type="not-formatted"] {
  color: #b2ccd6;
}

span[data_microlight_type="keywords"] {
  color: #f1e655;
}

span[data_microlight_type="punctuation"] {
  color: #d9f5dd;
}

span[data_microlight_type="strings-regex"] {
  color: #c3e88d;
}

span[data_microlight_type="comments"] {
  color: #49656f;
}

.microlight {
  font-family: monospace;
  white-space: pre;
  background-color: #263238;
  color: #aabbc3;
  padding: 15px;
  text-align: left;
  overflow-x: auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
}

figure img {
  box-shadow: 2px 0px 0.3rem rgba(180, 194, 221, 0.57);
}
figcaption {
  color: var(--color-mid-grey);
  font-size: var(--s-1);
  max-width: 56ch;
  margin: 0 auto;
}
